[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-kleinanzeigen-viewer
Exec=harbour-kleinanzeigen-viewer %U
DBusActivatable=true
Name=Kleinanzeigen
MimeType=x-url-handler/kleinanzeigen.de;x-url-handler/www.kleinanzeigen.de;

X-Maemo-Service=com.stoefelz.kleinanzeigende
X-Maemo-Object-Path=/
X-Maemo-Method=com.stoefelz.kleinanzeigende.openUrl

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=com.stoefelz
# ApplicationName does not have to be identical to Name
ApplicationName=harbour-kleinanzeigen-viewer
# Add the required permissions here
Permissions=Internet
