[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ek_viewer
Exec=ek_viewer
Name=ek_viewer
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=ek_viewer

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=org.myorg
# ApplicationName does not have to be identical to Name
ApplicationName=ek_viewer
# Add the required permissions here
Permissions=
